<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'marketplace/style.css' %}">
    <title>CityParkr</title>
</head>
<body>
    <h1>Available Parking Spaces</h1>

    {% if spaces %}
        <ul>
        {% for space in spaces %}
            <li>
                <strong>{{ space.title }}</strong> - {{ space.location }} - ${{ space.price_per_hour }}/hour
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No parking spaces available yet.</p>
    {% endif %}
</body>
</html>